<a href="https://colab.research.google.com/github/matheusmoura-stack/Testes__Numpy-Pandas/blob/main/test005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
np.random.seed(100)

In [7]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                       'B': ['B4', 'B5', 'B6', 'B7'],
                       'C': ['C4', 'C5', 'C6', 'C7'],
                       'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])
   
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                      'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

dicionario = {'ID':[10,11,12,13,14,],'NOME':['Mario','Joana','Claudia','Lucas','Gabriel'],
              'CIDADE':['SÃO PAULO','RIO DE JANEIRO','SÃO PAULO','CAMPINAS','PORTO ALEGRE']}
dicionario2 = {'ID':[16,11,12,13,18,],'Experiência':['Junior','Senior','Pleno','Estagiário','Analista']}

In [8]:
df4 = pd.DataFrame(data=dicionario)

In [9]:
df5 = pd.DataFrame(data=dicionario2)

In [10]:
#CONCATENAR

In [11]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [12]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [13]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [15]:
df_concat = pd.concat([df1,df2])

In [16]:
df_concat

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [17]:
df_concat = pd.concat([df1,df2,df3])

In [18]:
df_concat

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [19]:
#MERGE

In [20]:
df4

   ID     NOME          CIDADE
0  10    Mario       SÃO PAULO
1  11    Joana  RIO DE JANEIRO
2  12  Claudia       SÃO PAULO
3  13    Lucas        CAMPINAS
4  14  Gabriel    PORTO ALEGRE

In [21]:
df5

   ID Experiência
0  16      Junior
1  11      Senior
2  12       Pleno
3  13  Estagiário
4  18    Analista

In [22]:
#INNER MERGE

In [23]:
merge_inner = pd.merge(df4,df5)

In [24]:
merge_inner

   ID     NOME          CIDADE Experiência
0  11    Joana  RIO DE JANEIRO      Senior
1  12  Claudia       SÃO PAULO       Pleno
2  13    Lucas        CAMPINAS  Estagiário

In [25]:
#MERDE OUTER

In [26]:
merge_outer = pd.merge(df4,df5,how='outer')

In [27]:
merge_outer

   ID     NOME          CIDADE Experiência
0  10    Mario       SÃO PAULO         NaN
1  11    Joana  RIO DE JANEIRO      Senior
2  12  Claudia       SÃO PAULO       Pleno
3  13    Lucas        CAMPINAS  Estagiário
4  14  Gabriel    PORTO ALEGRE         NaN
5  16      NaN             NaN      Junior
6  18      NaN             NaN    Analista

In [28]:
#LEFT MERGE

In [29]:
left_merge = pd.merge(df4,df5,how = 'left')

In [30]:
left_merge

   ID     NOME          CIDADE Experiência
0  10    Mario       SÃO PAULO         NaN
1  11    Joana  RIO DE JANEIRO      Senior
2  12  Claudia       SÃO PAULO       Pleno
3  13    Lucas        CAMPINAS  Estagiário
4  14  Gabriel    PORTO ALEGRE         NaN

In [31]:
#JOIN

In [32]:
join_esq = df4.join(df5,lsuffix='_X',rsuffix='_Y')

In [33]:
join_esq

   ID_X     NOME          CIDADE  ID_Y Experiência
0    10    Mario       SÃO PAULO    16      Junior
1    11    Joana  RIO DE JANEIRO    11      Senior
2    12  Claudia       SÃO PAULO    12       Pleno
3    13    Lucas        CAMPINAS    13  Estagiário
4    14  Gabriel    PORTO ALEGRE    18    Analista

In [34]:
dicionario = {'NOME':['Mario','Joana','Claudia','Lucas','Gabriel'],
              'CIDADE':['SÃO PAULO','RIO DE JANEIRO','SÃO PAULO','CAMPINAS','PORTO ALEGRE']}

dicionario2 = {'Experiência':['Junior','Senior','Pleno','Estagiário','Analista']}

df7 = pd.DataFrame(data=dicionario)
df8 = pd.DataFrame(data=dicionario2)

In [35]:
df7

      NOME          CIDADE
0    Mario       SÃO PAULO
1    Joana  RIO DE JANEIRO
2  Claudia       SÃO PAULO
3    Lucas        CAMPINAS
4  Gabriel    PORTO ALEGRE

In [36]:
df8

  Experiência
0      Junior
1      Senior
2       Pleno
3  Estagiário
4    Analista

In [37]:
df4

   ID     NOME          CIDADE
0  10    Mario       SÃO PAULO
1  11    Joana  RIO DE JANEIRO
2  12  Claudia       SÃO PAULO
3  13    Lucas        CAMPINAS
4  14  Gabriel    PORTO ALEGRE

In [38]:
join_esq = df7.join(df8)

In [39]:
join_esq

      NOME          CIDADE Experiência
0    Mario       SÃO PAULO      Junior
1    Joana  RIO DE JANEIRO      Senior
2  Claudia       SÃO PAULO       Pleno
3    Lucas        CAMPINAS  Estagiário
4  Gabriel    PORTO ALEGRE    Analista